#popin.absolute.layer_top.full_height.full_width

	.intro_page.centered.layer_top
		.layer_1#logowhite.hidden
			include ../../../public/image/logo-white.svg

		.txt_intro.hidden
			| #{TRANSLATION.txt_intro[langage]}

		.btn_intro.hidden
			if langage == 'en'
				a(href='')#enter_site.btn.round_btn.yellow_btn
					| #{TRANSLATION.language_btn_en[langage]}
				a(href='http://www.wespeakhiphop.fr').btn.round_btn.white_btn
					| #{TRANSLATION.language_btn_fr[langage]}
			else
				a(href='http://www.wespeakhiphop.com').btn.round_btn.white_btn
					| #{TRANSLATION.language_btn_en[langage]}
				a(href='')#enter_site.btn.round_btn.yellow_btn
					| #{TRANSLATION.language_btn_fr[langage]}
		
	include ../block_player_youtube/index.pug


	#abouttxt.hide.block.big.centered.layer_top
			| #{ABOUT[langage]}

	#artist_info.hide.block.centered.layer_top.big
		each video in videos
			.info.hide
				.name= video.title
						
				each meta in video.postmeta
					if meta.meta_key == 'date'
						span.date= meta.meta_value
			
				each cat in video.category
					if cat.domain == 'pays'
						span.contry= cat['#text']

				each meta in video.postmeta
					if meta.meta_key == 'description'
						.bio= meta.meta_value

		a(href='')#startvideo.round_btn.btn.yellow
			| #{TRANSLATION.startvideo[langage]}

		#back.round_btn.btn
			| #{TRANSLATION.back[langage]}

	#shareinfo.hide.layer_top
		.block.centered.layer_top
			.yellow
				.contentpopin
					.logo
						include ../../../public/image/logo.svg
					.sharesite
						| #{TRANSLATION.sharesite[langage]}

			.white
				.contentpopin 
					ul.sharebtn
						li
							a(href="https://www.facebook.com/sharer/sharer.php?u="+pageurl+"&display=popup&ref=plugin&src=share_button" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=580')")
								include ../../../public/image/facebook.svg
						li
							a(href="http://twitter.com/share?text="+txttwitter+"&url="+pageurl+"&hashtags=wespeakhiphop,hiphop" onclick="return !window.open(this.href, 'Twitter', 'width=640,height=580')")
								include ../../../public/image/tweeter.svg
						li
							a(href="mailto:?subject="+mailbody)
								include ../../../public/image/mail.svg

					//- .startvideo
					//- 	| #{TRANSLATION.startvideo[langage]}

	#close.layer_top.btn
		include ../../../public/image/close.svg
	