#popin.absolute.layer_top_plus.full_height.full_width
	.intro_page.centered.layer_top_plus
		.layer_1#logowhite.hidden.logo(data-animstatus='waiting')
			include ../../../public/image/logo-white.svg
			//- include ../../../public/image/logo.svg

		.txt_intro.hidden
			| #{TRANSLATION.txt_intro[langage]}

		.btn_intro.hidden
			if langage == 'en'
				a(href='')#enter_site.btn.round_btn.yellow_btn
					| #{TRANSLATION.language_btn_en[langage]}
				a(href='http://www.wespeakhiphop.fr' title='version française').btn.round_btn.white_btn
					| #{TRANSLATION.language_btn_fr[langage]}
			else
				a(href='http://www.wespeakhiphop.com' title='english version').btn.round_btn.white_btn
					| #{TRANSLATION.language_btn_en[langage]}
				a(href='')#enter_site.btn.round_btn.yellow_btn
					| #{TRANSLATION.language_btn_fr[langage]}
		
	
	include ../block_spiner/index.pug
	
	include ../block_player_youtube/index.pug

	#abouttxt.hide.block.big.centered.layer_top
		| !{ABOUT[langage]}
	#credittxt.hide.block.big.centered.layer_top
		| !{CREDIT[langage]}
			

	#artist_info.hide.centered.layer_top
		each video in videos
			.info.hide
				.name= video.title
						
				each meta in video.postmeta
					if meta.meta_key == 'date'
						span.date= meta.meta_value
			
				each cat in video.category
					if cat.domain == 'pays'
						span.contry= cat['#text']

				each meta in video.postmeta
					if meta.meta_key == 'description'
						.bio= meta.meta_value

		a(href='')#startvideo.round_btn.btn.yellow
			| #{TRANSLATION.startvideo[langage]}

		#back.round_btn.btn
			| #{TRANSLATION.back[langage]}

	#shareinfo.hide.layer_top
		.centered.layer_top
			.yellow
				.contentpopin
					.logo
						include ../../../public/image/logo-share.svg
					.sharesite
						| #{TRANSLATION.sharesite[langage]}

			.white
				.contentpopin 
					ul.sharebtn
						li
							a(href="https://www.facebook.com/sharer/sharer.php?u="+pageurl+"&display=popup&ref=plugin&src=share_button" title="facebook share" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=580')")
								include ../../../public/image/facebook.svg
						li
							a(href="http://twitter.com/share?text="+txttwitter+"&url="+pageurl+"&hashtags=wespeakhiphop,hiphop" title="twitter share"  onclick="return !window.open(this.href, 'Twitter', 'width=640,height=580')")
								include ../../../public/image/tweeter.svg
						li
							a(href="mailto:?subject="+mailbody title="mail" )
								include ../../../public/image/mail.svg

					//- .startvideo
					//- 	| #{TRANSLATION.startvideo[langage]}

	#close.layer_top.btn.hide
		include ../../../public/image/close.svg
	