#popin.absolute.layer_top_plus.full_height.full_width
	.intro_page.centered.layer_top_plus
		.layer_1#logowhite.hidden.logo(data-animstatus='waiting-init')
			include ../../../public/image/logo-white.svg

		.btn_intro
			if langage == 'en'
				a(href='')#enter_site.btn.round_btn.yellow_btn
					| #{TRANSLATION.language_btn_en[langage]}
				a(href='http://www.wespeakhiphop.fr' title='version française').btn.round_btn.white_btn
					| #{TRANSLATION.language_btn_fr[langage]}
			else
				a(href='http://www.wespeakhiphop.com' title='english version').btn.round_btn.white_btn
					| #{TRANSLATION.language_btn_en[langage]}
				a(href='')#enter_site.btn.round_btn.yellow_btn
					| #{TRANSLATION.language_btn_fr[langage]}

		
	include ../block_spiner/index.pug
	include ../block_player_vimeo/index.pug

	#abouttxt.hide.block.big.centered.layer_top
		if langage == 'en'
			include about.pug
		else
			include apropos.pug
	#credittxt.hide.block.big.centered.layer_top
		if langage == 'en'
			include credit-en.pug
		else
			include credit-fr.pug
	#contacttxt.hide.block.big.centered.layer_top
		include contact.pug
			
	#artist_info.hide.layer_top
		each video in videos
			.info.hide
				- var title_video = video.title
				.name
					| !{video.title}
				each meta in video.postmeta
					if meta.meta_key == 'date'
						span.date= meta.meta_value
			
				each cat in video.category
					if cat.domain == 'pays'
						span.contry= cat['#text']

				each meta in video.postmeta
					if meta.meta_key == 'description'
						.bio
							| !{meta.meta_value}

				each meta in video.postmeta
					if meta.meta_key == '_ratio_video'
						- var youtube_ratio = meta.meta_value

				each meta in video.postmeta
					if meta.meta_key == 'video'
						- var youtube_link = meta.meta_value


		a(href='')#startvideofrompopin.round_btn.btn.yellow
			| #{TRANSLATION.startvideo[langage]}

		#back.round_btn.btn
			| #{TRANSLATION.back[langage]}

	#shareinfo.hide.layer_top
		.centered.layer_top
			div
				.contentpopin
					.logo#logosharesite
						img(src='https://d25xbwtykg1lvk.cloudfront.net/logo-white-share.svg', alt='We Speak Hip Hop')
					.sharesite
						.txt
							| #{TRANSLATION.sharesite[langage]}
						include share.pug
						
	#close.layer_top.btn.hide
		img(src='https://d25xbwtykg1lvk.cloudfront.net/close.svg', alt='close')
		