#popin.absolute.layer_top.full_height.full_width.hide
	.video-container.layer_1
		#player_youtube

	#artist_info.hide.block.centered.layer_top.big
		each video in videos
			.info.hide
				.name= video.title
						
				each meta in video.postmeta
					if meta.meta_key == 'date'
						span.date= meta.meta_value
			
				each cat in video.category
					if cat.domain == 'pays'
						span.contry= cat['#text']

				each meta in video.postmeta
					if meta.meta_key == 'description'
						.bio= meta.meta_value

		a(href='')#startvideo.round_btn.btn.yellow
			| #{TRANSLATION.startvideo[langage]}

		#back.round_btn.btn
			| #{TRANSLATION.back[langage]}

	#shareinfo.hide.layer_top
		.block.centered.layer_top
			.yellow
				include ../../cleansvg/logo.svg
				.name
				span.contry
				span.date
				.sharevideo
					| #{TRANSLATION.sharevideo[langage]}

				.sharebtn
			.white
				.startvideo
					| #{TRANSLATION.startvideo[langage]}

	#close.layer_top.btn
		include ../../cleansvg/close.svg
	