ul#list_artists.layer_top
	each video in videos
		each meta in video.postmeta
			if meta.meta_key == '_ratio_video'
				- var youtube_ratio = meta.meta_value
			if meta.meta_key == 'video'
				- var youtube_link = meta.meta_value
				li(itemscope itemprop="potentialAction" itemtype="http://schema.org/WatchAction")
					a(href=youtube_link, data-ratiovideo=youtube_ratio, title=video.title ,  itemprop='target')
						span.dot
						span.txt(itemprop="name")
							| !{video.title}
						.warp_contry
							each cat in video.category
								if cat.domain == 'pays'
									span.contry(data-contrynicename=cat['nicename'])= cat['#text']
						