#main_footer.footer.layer_top
	include ../block_help/index.pug

	.warp_ul_footer
		ul#left-ul
			li.seperateur
				a#apropos_btn(href='#abouttxt' title=TRANSLATION.a_propos[langage])
					| #{TRANSLATION.a_propos[langage]}
			li.seperateur
				a#credit_btn(href='#credittxt' title=TRANSLATION.credit[langage])
					| #{TRANSLATION.credit[langage]}
			li
				a#mail_btn(href='#contacttxt' title=TRANSLATION.contact[langage])
					| #{TRANSLATION.contact[langage]}
		
		ul#right-ul
			li
				if langage == 'en'
					a(href='http://wespeakhiphop.fr' title='version française')
						span.short_text
							| #{TRANSLATION.language_name_short[langage]}
						span.long_text
							| #{TRANSLATION.language_name[langage]}
				else
					a(href='http://wespeakhiphop.com' title='english version')
						span.short_text
							| #{TRANSLATION.language_name_short[langage]}
						span.long_text
							| #{TRANSLATION.language_name[langage]}
			li
				span#sound.actif
					include ../../../public/image/unmute.svg
			li
				span.myfullscreen
					#fs
						include ../../../public/image/fullscreen.svg
					#fsactif
						include ../../../public/image/fullscreen_actif.svg
			
			li
				a#share(href='#shareinfo' title=TRANSLATION.partager[langage])
					include ../../../public/image/share.svg
					span.txt
						| #{TRANSLATION.partager[langage]}