#main_footer.footer.layer_top
	include ../block_help/index.pug
	.warp_ul_footer
		ul#left-ul
			li.seperateur
				a#apropos_btn.btnfooterpopin(href='#abouttxt' title=TRANSLATION.a_propos[langage])
					| #{TRANSLATION.a_propos[langage]}
			li.seperateur
				a#credit_btn.btnfooterpopin(href='#credittxt' title=TRANSLATION.credit[langage])
					| #{TRANSLATION.credit[langage]}
			li
				a#mail_btn.btnfooterpopin(href='#contacttxt' title=TRANSLATION.contact[langage])
					| #{TRANSLATION.contact[langage]}
		
		ul#right-ul
			li
				if langage == 'en'
					a(href='http://wespeakhiphop.fr' title='version française')
						span.short_text
							| #{TRANSLATION.language_name_short[langage]}
						span.long_text
							| #{TRANSLATION.language_name[langage]}
				else
					a(href='http://wespeakhiphop.com' title='english version')
						span.short_text
							| #{TRANSLATION.language_name_short[langage]}
						span.long_text
							| #{TRANSLATION.language_name[langage]}
			li
				span#sound.actif
					include ../../../public/image/unmute.svg
			li
				span.myfullscreen
					#fs
						svg(viewBox="0 0 30 30"  xmlns="http://www.w3.org/2000/svg" overflow="visible")
							use(href='#fullscreen_svg', x='0', y='0')
					#fsactif
						svg(viewBox="0 0 30 30"  xmlns="http://www.w3.org/2000/svg" overflow="visible")
							use(href='#fullscreen_actif_svg', x='0', y='0')
			
			li
				a#share.btnfooterpopin(href='#shareinfo' title=TRANSLATION.partager[langage])
					svg(viewBox="0 0 13 13"  xmlns="http://www.w3.org/2000/svg" overflow="visible")
						use(href='#share_svg', x='0', y='0')
					span.txt
						| #{TRANSLATION.partager[langage]}