#main_footer.footer.layer_top
	ul#mode_switcher
		li
			a(href='#contrys' data-face='face_pays')
				| #{TRANSLATION.face_pays[langage]}
		li
			a.selected(href='#artists' data-face='face_artistes')
				| #{TRANSLATION.face_artistes[langage]}


	ul#infos
		li
			a#apropos_btn(href='#apropos')
				| #{TRANSLATION.a_propos[langage]}
		li
			a(href='#help') 
				| #{TRANSLATION.aide[langage]}
		li
			span#sound
				include ../../cleansvg/unmute.svg
		li
			span#fullscreen
				include ../../cleansvg/fullscreen.svg
		li
			a#share(href='#shareinfo')
				include ../../cleansvg/share.svg
				| #{TRANSLATION.partager[langage]}