#main_footer.footer.layer_top
	ul#mode_switcher
		li
			a(href='#contrys' data-face='face_pays')
				| #{TRANSLATION.face_pays[langage]}
		li
			a.selected(href='#artists' data-face='face_artistes')
				| #{TRANSLATION.face_artistes[langage]}


	ul#infos
		//- li
		//- 	a#apropos_btn(href='#apropos')
		//- 		| #{TRANSLATION.a_propos[langage]}
		//- li
		//- 	a(href='#help') 
		//- 		| #{TRANSLATION.aide[langage]}
		li
			span#sound.actif
				include ../../cleansvg/unmute.svg
		li
			span#fullscreen
				include ../../cleansvg/fullscreen.svg
		li
			a#share(href='#shareinfo')
				include ../../cleansvg/share.svg
				| #{TRANSLATION.partager[langage]}

		li
			if langage == 'en'
				a(href='http://wespeakhiphop.fr')
					span.short_text
						| #{TRANSLATION.language_name_short[langage]}
					span.long_text
						| #{TRANSLATION.language_name[langage]}
			else
				a(href='http://wespeakhiphop.com')
					span.short_text
						| #{TRANSLATION.language_name_short[langage]}
					span.long_text
						| #{TRANSLATION.language_name[langage]}
				