#main_footer.footer.layer_top
	include ../block_help/index.pug
	.warp_ul_footer
		ul#left-ul
			li
				a#donation_btn.btnfooterpopin(href=TRANSLATION.donate_link[langage] title=TRANSLATION.donation[langage])
					span.txt.long_text
						| #{TRANSLATION.donation[langage]}
					span.txt.short_text
						| #{TRANSLATION.donation_short[langage]}

						donate_link
			li
				a#boutique_btn.btnfooterpopin(href='#boutiquext' title=TRANSLATION.boutique[langage])
					svg(viewBox="0 0 30 30"  xmlns="http://www.w3.org/2000/svg" overflow="visible")
						use(href='#cadi', x='0', y='0')
					span.txt.long_text
						| #{TRANSLATION.boutique[langage]}

			li.seperateur
				a#apropos_btn.btnfooterpopin(href='#abouttxt' title=TRANSLATION.a_propos[langage])
					span.txt
						| #{TRANSLATION.a_propos[langage]}
			li.seperateur
				a#credit_btn.btnfooterpopin(href='#credittxt' title=TRANSLATION.credit[langage])
					span.txt
						| #{TRANSLATION.credit[langage]}
			li
				a#mail_btn.btnfooterpopin(href='#contacttxt' title=TRANSLATION.contact[langage])
					span.txt.long_text
						| #{TRANSLATION.contact[langage]}
					span.txt.short_text
						svg(viewBox="0 0 30 30"  xmlns="http://www.w3.org/2000/svg" overflow="visible")
							use(href='#enveloppe', x='0', y='0')
		
		ul#right-ul
			li
				if langage == 'en'
					a(href='http://wespeakhiphop.fr' title='version française')
						span.short_text.txt
							| #{TRANSLATION.language_name_short[langage]}
						span.long_text.txt
							| #{TRANSLATION.language_name[langage]}
				else
					a(href='http://wespeakhiphop.com' title='english version')
						span.short_text.txt
							| #{TRANSLATION.language_name_short[langage]}
						span.long_text.txt
							| #{TRANSLATION.language_name[langage]}
			li
				span#sound.actif
					include ../../../public/image/unmute.svg
			li
				span.myfullscreen
					#fs
						svg(viewBox="0 0 30 30"  xmlns="http://www.w3.org/2000/svg" overflow="visible")
							use(href='#fullscreen_svg', x='0', y='0')
					#fsactif
						svg(viewBox="0 0 30 30"  xmlns="http://www.w3.org/2000/svg" overflow="visible")
							use(href='#fullscreen_actif_svg', x='0', y='0')
			
			li
				a#share.btnfooterpopin(href='#shareinfo' title=TRANSLATION.partager[langage])
					svg(viewBox="0 0 13 13"  xmlns="http://www.w3.org/2000/svg" overflow="visible")
						use(href='#share_svg', x='0', y='0')
					span.txt
						| #{TRANSLATION.partager[langage]}