#main_footer.footer.layer_top
	include ../block_help/index.pug

	ul#infos
		li
			a#apropos_btn(href='#apropos')
				| #{TRANSLATION.a_propos[langage]}
		
		li
			if langage == 'en'
				a(href='http://wespeakhiphop.fr')
					span.short_text
						| #{TRANSLATION.language_name_short[langage]}
					span.long_text
						| #{TRANSLATION.language_name[langage]}
			else
				a(href='http://wespeakhiphop.com')
					span.short_text
						| #{TRANSLATION.language_name_short[langage]}
					span.long_text
						| #{TRANSLATION.language_name[langage]}
		li
			span#sound.actif
				include ../../../public/image/unmute.svg
		li
			span#fullscreen
				#fs
					include ../../../public/image/fullscreen.svg
				#fsactif
					include ../../../public/image/fullscreen_actif.svg
		
		li
			a#share(href='#shareinfo')
				include ../../../public/image/share.svg
				| #{TRANSLATION.partager[langage]}
