ul#artists_info.layer_0
	each video in videos
		li
			.warper
				each meta in video.postmeta
					if meta.meta_key == 'tag_line'
						span.tagline
							- tagline = meta.meta_value
							| !{tagline}
				
				h3.name= video.title
				.warp_contry_date
					each cat in video.category
						if cat.domain == 'pays'
							span.contry(data-contrynicename=cat['nicename'])= cat['#text']

					each meta in video.postmeta
						if meta.meta_key == 'date'
							span.date= meta.meta_value

				#about-btn.layer_3.btn.round_btn.grey_btn.btn
					| #{TRANSLATION.read_bio[langage]}
